.sidebar{
    background-color:white;
    color:black;
    position:fixed;
    top:55px;
    bottom:0;
    left:0;
    width:75px;
    z-index: 10;
    padding-top:5px;
}

.sidebar-link{
    height:75px;  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    cursor:pointer; 
}

.sidebar-link:hover{
    background-color: rgb(228, 226, 226);
}

.sidebar-link img{
    height:25px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;
}